@import '~/styles/breakpoints.scss';

.container {
  display: grid;
  gap: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  max-width: $MQ_SoccerField;

  @media screen and (min-width: $MQ_Tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $MQ_Desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  .featuredImage {
  }
  .summary {
    .title {
      transition: color 0.2s ease-in-out;
      &:hover {
        color: #111;
      }
    }
    /* .meta {
      .date {
      }
      .category {
      }
    }
    .excerpt {
    }
    .button {
    } */
  }
}
