@import '~/styles/palette.scss';

.container {
  display: flex;
  flex-direction: column;
  .excerpt {
    line-height: 1.5;
    flex-grow: 1;
    margin-top: 0;
  }
  .meta {
    display: flex;
    color: rgb(80, 80, 97);
    font-size: 0.85rem;

    .date {
      flex-grow: 1;
    }
    .comments {
      flex-shrink: 1;
      align-self: flex-end;
    }
  }
}
