@import '~/styles/breakpoints';

.container {
  background-image: url('/home/main-banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  padding-top: 8rem;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;

    @media screen and (min-width: $MQ_Phone) {
      flex-direction: row;
      padding: 12rem 2rem;
    }

    .text {
      .title,
      .subtitle,
      .purpose {
        color: #fff;
      }

      .title {
        font-size: 3rem;
        margin: 0;
      }

      .subtitle {
        font-weight: 100;
        font-size: 3rem;
        margin: 0;
      }

      .purpose {
        margin: 1.5rem 0 2rem;
        font-weight: 600;
      }
    }

    .image {
      max-width: 600px;
      margin-top: 2rem;
      @media screen and (min-width: $MQ_Phone) {
        transform: translateY(-4rem);
      }
    }
  }
}
