.container {
  @apply m-8;

  .icon {
    @apply block mb-4 w-12 h-12 text-pm-2;
    background: url("/home/service-sprites.svg");

    &.swiss {
      background-position: 0 0;
    }

    &.e2ee {
      background-position: -54px 0;
    }

    &.anonymous {
      background-position: -107px 0;
    }

    &.free {
      background-position: -160px 0;
    }

    &.easy {
      background-position: -213px 0;
    }

    &.design {
      background-position: -266px 0;
    }
  }

  .title {
    @apply font-light;
  }

  .subtitle {
    @apply mb-4 text-xl font-extralight;
  }

  .description {
    a {
      @apply text-black underline;
    }
  }

  .title,
  .description {
    @apply my-2;
  }
}
