@import '~styles/breakpoints.scss';

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto;
  max-width: $MQ_Desktop;

  @media screen and (min-width: $MQ_Tablet) {
    grid-template-columns: auto auto;
  }

  @media screen and (min-width: $MQ_Desktop) {
    grid-template-columns: auto auto auto;
  }
}
