@import '~/styles/breakpoints.scss';

.container {
  font-size: 0.9rem;
  padding: 2rem 2rem;
  @media screen and (min-width: $MQ_Tablet) {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 8rem;
  }

  .physicalAddress {
    .vcard {
      color: #505061;
      font-style: normal;
      display: flex;
      flex-direction: column;
      .org {
        font-weight: 900;
      }
      .adr {
        margin: 1rem 0;
      }
    }
  }

  .contactInformation {
    .ciText {
      margin: 0;
      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
