.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  padding: 2rem 8rem;
  width: 80%;
  margin: 0 auto;
  font-size: 0.9rem;

  .physicalAddress {
    .vcard {
      color: #505061;
      font-style: normal;
      display: flex;
      flex-direction: column;
      .org {
        font-weight: 900;
      }
      .adr {
        margin: 1rem 0;
      }
    }
  }

  .contactInformation {
    .ciText {
      margin: 0;
      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
