.ctaButton {
  display: inline-block;
  margin: 0 2px;
  padding: 0.5rem 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.33rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;

  &.type-1 {
    color: #fff;
    border-color: #fff;
    &:hover {
      border-color: #9199cb;
      background-color: #9199cb;
    }
  }

  &.type-2 {
    border-color: transparent;
    background-color: #fff;
    color: #474f8f;
    &:hover {
      border-color: #9199cb;
      background-color: #9199cb;
      color: #fff;
    }
  }

  &.type-3 {
    border-color: #9199cb;
    background-color: #9199cb;
    color: #fff;
    &:hover {
      border-color: #999;
      background-color: #999;
    }
  }

  &.type-4 {
    border-color: #9199cb;
    background-color: transparent;
    color: #9199cb;
    &:hover {
      color: #fff;
      background-color: #9199cb;
    }
  }

  &.type-5 {
    border-color: #9199cb;
    background-color: #9199cb;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #9199cb;
    }
  }
}
