@import '~/styles/breakpoints.scss';

.container {
  max-width: $MQ_SoccerField;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;

  @media screen and (min-width: $MQ_Tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $MQ_Desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $MQ_SoccerField) {
    grid-template-columns: repeat(4, 1fr);
  }
}
