@import '~/styles/breakpoints.scss';

.container {
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;

  &.opaque {
    padding-bottom: 1rem;
    background-color: #505061;
  }

  .primary,
  .secondary {
    padding: 0 2rem;
  }

  .primary {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .secondary {
    display: flex;
    align-items: center;
    .logo {
      flex: 2;
    }

    .navlinks,
    .buttons {
      display: none;
    }

    @media screen and (min-width: $MQ_Desktop) {
      .navlinks {
        display: flex;
      }
    }

    @media screen and (min-width: $MQ_Tablet) {
      .buttons {
        display: flex;
      }
    }

    .navlinks {
      margin: 0 1rem;
      padding-top: 10px; // 3 + 7 = 10 - see below
      .link {
        color: #eee;
        text-decoration: none;
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
        &:after {
          transform: scale(0, 1);
          transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
          box-sizing: border-box;
          content: ' ';
          position: static;
          width: auto;
          height: 3px;
          background: #9497ce;
          margin-top: 7px;
          display: block;
        }
        &:hover {
          &:after {
            transform: scale(1, 1);
          }
        }
      }
    }

    .buttons {
      .button {
        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }
      }
    }

    .hamburger {
      @media screen and (min-width: $MQ_Phone) {
        display: none;
      }
    }
  }
}
