.socialIcons {
  margin-bottom: 0.25rem;
  .socialIcon {
    color: #eee;
    opacity: 0.66;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 1;
    }
    &:not(:first-of-type) {
      margin-left: 0.66rem;
    }
  }
}
