.container {
  display: flex;
  background-color: #f7f7f7;
  // box-shadow: inset 15px 0 0 0 #fff, inset -15px 0 0 0 #fff;
  padding: 2rem 4rem;
  .summary {
    margin-right: 0.5rem;
    flex-basis: 25%;
    .title {
      transition: color 0.2s ease-in-out;
      &:hover {
        color: #111;
      }
    }
    /* .meta {
      .date {
      }
      .category {
      }
    }
    .excerpt {
    }
    .button {
    } */
  }
  .featuredImage {
    margin-left: 0.5rem;
    flex-basis: 75%;
  }
}
