html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(80, 80, 97);
  }

  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
