html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(80, 80, 97);
  }

  h1,
  h2,
  h3 {
    font-weight: 500;
  }

  h4,
  h5,
  h6 {
    font-weight: 400;
  }

  main {
    margin-top: 10rem;
  }
}

a {
  color: darken(#9497ce, 20%);
}

p {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}
