@import '~/styles/breakpoints.scss';
.container {
  text-align: center;
  max-width: $MQ_Desktop;
  margin: 0 auto;
  .title {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .paragraphs {
    font-size: 1.1rem;
    // .paragraph { }
  }
  .buttons {
    margin-top: 2rem;
  }
}
